// Fontes
$fonte: 'Roboto', sans-serif;

//Cores 

$cor-primaria: #AAC8A7;
$cor-secundaria: #F4EAD5;
$cor-terciaria: #8f5915;
$cor-text: #ffffff;
$cor-bg-text: #bf722b;
$cor-title: #2b332a;

// Tamanho das fontes

$font-size: 2rem;

// Peso

$font-weight: 300;

//linear-gradient

$color1: #E3F2C1;
$color2: #F6FFDE;
$color0: #ffffff;
